.loginWindow {
    -fx-border-style: solid;
    -fx-border-width: 0 0 5px 0;
    -fx-border-radius: 2px;
    -fx-background-color: rgba(190, 200, 220, 0.6);
}

.button{
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-background-color: #00205b;
    -fx-text-fill: white;
    -fx-margin: 0px 10px 20px 0px;
    -fx-padding: 8px 20px;
}

.button:hover{
    -fx-background-color: #334d7c;
}

.labelBig{
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-text-fill: #00205b;
 }

*{
    -fx-font-family: Arial, Helvetica, sans-serif;
}

.background{
    -fx-background-color: #eeeff2;
}

.dialogPane{

}

.warningLabel{
    -fx-text-fill: #e31837;
    -fx-font-size: 14px;
}


.labelSmall{}

.popup{}

.backButton{
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-color: #00205b;
    -fx-background-color: white;
    -fx-text-fill: #00205b;
    -fx-margin: 0px 10px 20px 0px;
    -fx-padding: 8px 20px;
}

.backButton:hover{
    -fx-background-color: #eeeff2;
}